<h1>Products#index</h1>
<!-- evitamos el token y nos ayudamos con el helper de rails -->
<!-- hay que setiar las rutas -->



<table>
	<tr>
		<td style="color:blue">Category</td>
		<td style="color:red">Item</td>
		<td style="color:blue">user</td>
	</tr>
	

</table>